<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DailyFantasySports.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>81FB5D9242B8CB34D6B1D8FB1995CA7D82C40950</string>
				<key>dateExpires</key>
				<string>19/10/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HYK33CGFHW.com.buddyBrowl.co</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HYK33CGFHW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DailyFantasySports.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d5eaf15d-d343-4d90-8458-a0871ac994ae</string>
				<key>dateExpires</key>
				<string>19/10/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.buddyBrowl.co</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HYK33CGFHW</string>
				<key>name</key>
				<string>Buddy Brawl LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
